.pr-chart3-cpt{ 
  background:rgba(125,158,255,0.04);
  .biao{ height: 100%; width: 100%;}
  .wei{
    position:absolute;
    color:RGBA(91, 157, 255, 1);
    right: 1rem;
    top: 0.5rem;
    font-size: 0.12rem;
  }
}
